body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e8e7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #f44336;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
    color: #f44336;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea,
  form select {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  form label {
    margin-left: 5px;
  }
  
  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #c62828;
  }
  
  #search {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  #pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    border: 2px solid #f44336;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    text-align: center;
    color: #f44336;
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 5px;
  }
  
  .card button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #c62828;
  }
   